md-dialog.dialog-second(aria-label='Enter the passphrase of your account')
  form
    md-toolbar
      .md-toolbar-tools
        h2 Enter the passphrase of your account
    md-dialog-content
      .md-dialog-content
        md-input-container.md-block
          label Passphrase
          input(type='password', ng-model='$ctrl.passphrase')
        md-input-container.md-block(ng-if="$ctrl.account.secondSignature")
          label Second Passphrase
          input(type='password', ng-model='$ctrl.secondPassphrase')
    md-dialog-actions(layout='row')
      md-button(ng-click="$ctrl.cancel()") Cancel
      span(flex)
      md-button(ng-click="$ctrl.ok()", md-autofocus) OK
